body{
    text-align: center;
    color: lightseagreen;
    font-family: Calibri;
}

#log{
    background-color:lightseagreen ;
    color: white;
    font-size: 3em;
    height: 15vh;
    border-radius: 10px;
}


#logIn{
    background-color: lightseagreen;
    color: white;
    font-size: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: start;

}

#txt{
    height: 50vh;
    width: 60vw;
    margin-left: 5vw;
    border: 2px solid lightseagreen;
    border-radius: 10px;
}

#input{
    height: 4vh;
    width: 15vw;
    border: 2px solid lightseagreen;
    border-radius: 10px;

}

#nom{

    margin-bottom: 5vh;
    margin-top: 5vh;
}

#bouton{
    height: 4vh;
    width: 10vw;
    margin-left: 55vw;
    margin-top: 3vh;
    background-color:lightseagreen ;
    color: white;
    border-radius: 10px;
}

#comm{
    width: 60vw;
    margin-top: 5vh;
    margin-left: 21vw;
    padding: 3VH;
    border: 2px solid lightseagreen;
    border-radius: 10px;
}

#trash, #pen{
   float: left;
}

#titre {
    text-align: left;
}




.inputLog, #boutonLog{
    margin-top:1vh;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    height: 5vh;
    margin-left: 2vw;
    margin-right: 7vw;

}

#boutonLog {
    background-color: lightseagreen ;
    color: white;
    width: 10vw;

}

#enregistrement{
    border: 2px solid lightseagreen;
    border-radius: 10px;
    width: 40vw;
    margin-top: 10vh;
    margin-left: 30vw;
    padding: 5vh;
}


